@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reset padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

/* Todas as fontes teram as medidas de 10px */
html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    width: 100vw;
    max-width: 120rem;
    font-size: 1.6rem;
    margin: 0 auto;
    background: #081b29;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

header > a {
    font-size: 2.7rem;
    font-weight: 700;
    color: #ededed;
}

header nav ul {
    display: flex;
    gap: 1rem;
}

header nav ul li a {
    font-size: 1.8rem;
    color: #ededed;
    font-weight: 500;
}
