@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


/* Reset padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

/* Todas as fontes teram as medidas de 10px */
:root {
    font-size: 62.5%; 
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    height: 100vh;
    font-size: 1.6rem;
}

ul, li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}