@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reset padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

/* Todas as fontes teram as medidas de 10px */
html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    width: 100vw;
    max-width: 120rem;
    font-size: 1.6rem;
    margin: 0 auto;
    background: #081b29;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    background: transparent;
    transition: 0.7s;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: solid 1px #0c3450;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

header:hover {
    border-bottom: solid 1px #4695a8;
    box-shadow: rgba(41, 170, 230, 0.979) 0px 50px 100px -20px, rgba(115, 209, 253, 0.884) 0px 30px 60px -30px;
}

/* Logo */
header > a {
    font-size: 2.7rem;
    font-weight: 700;
    color: #ededed;
    transition: 0.4s;
}

header > a:hover {
    color: #0d9dfd;
}

header nav ul {
    display: flex;
    gap: 0.7rem;
}

/* Links */
header nav ul li a {
    font-size: 1.8rem;
    color: #ededed;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: 0.4s;
}

header nav ul li a:hover {
    color: #0d9dfd;
    border-bottom: solid 1px #0d9dfd;
}